/* @import "tailwindcss"; */
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@custom-variant dark (&:is(.dark *));


:root {
  /* background-color: #FFFCFA; */
   --hero-gradient: linear-gradient(135deg, #fffaf6 0%, #fffdf9 50%, #ffeef3 100%);
  background: var(--hero-gradient);
  font-family: "Poppins", Ideal Sans, system-ui, sans-serif;
}

#root, body {
  background: var(--hero-gradient);
  height: 100dvh;
  width: 100dvw;
  font-weight: 500;
}
