{
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": false,
  "printWidth": 120,
  "semi": true
}
